<div class="container-fluid text-center">
    <h1>About Page</h1>
    <p> Insert generic about us page</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, illum, consequuntur, rem dolorem pariatur id cumque veniam totam sit ab earum quis laudantium explicabo numquam animi consectetur iste aliquid fugiat.
    </p>
</div>