<div class="home-callout text-center container-fluid"> <!--created a div to isolate to add gradient just to certain elements -->
  <h1>Welcome to Jewelley</h1>
  <h3>An online store for all your jewellery needs</h3>
</div>
